html, body {
  height: 100%;
}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  max-width: 600px;
}

.notification {
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%);
  min-width: 300px;
}

.star {
  cursor: pointer 
}

.table td{
  text-align: left;
}

.sortIcon {
  cursor: pointer
}

.notification {
  position: absolute;
}

.testi {
  background-image: url('./Images/kirja.jpg');
  height: 100vh;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookshelf {
  background-image: url('./Images/wood.jpeg');
  min-width: 100%;
  width: 100%;
}

.taulukko {
  position: relative;
  left: 50%;  
}