html, body {
  height: 100%;
}

.login {
  margin: 40% 20%;
}

.star {
  cursor: pointer 
}

.notification {
  position: absolute;
}

.testi {
  background-image: url('./Images/kirja.jpg');
  height: 100vh;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}