html, body {
  height: 100%;
}

.navigation {
  z-index: 998;
}

/* [type="checkbox"] {
  text-align: center;
} */

.jumbo {
  margin-top: 4rem;
}

.bookinfo {
  text-align: center;
  padding-top: 7rem;
}

.library {
  padding-bottom: 3rem;
  margin-top: 5rem;

}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  max-width: 600px;
}

.notification {
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 10%);
  min-width: 300px;
}

.pointer {
  cursor: pointer 
}

.table td{
  text-align: left;
}

.sortIcon {
  cursor: pointer
}

.login_screen {
  background-image: url('./Images/kirja_smaller.jpg');
  height: 100vh;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookshelf {
  background-image: url('./Images/wood.jpeg');
  background-size: cover;
  min-height: 100vh;
}

.taulukko {
  position: relative;
  left: 50%;  
}

/* .icon_align {
  vertical-align: middle;

} */